{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/agenda.css' %}">

<h1>Eventos agendados:</h1>

<table>
    <tr>
        <th>Data</th>
        <th>Horario</th>
        <th>Local</th>
        <th>Descrição</th>
    </tr>

    <tr>
        {% for agenda in agenda %}
            <td>{{agenda.data}}</td>
            <td>{{agenda.horario}}</td>
            <td>{{agenda.local}}</td>
            <td>{{agenda.descricao}}</td>
        </tr>
        {% endfor %}
</table>

{% endblock %}
