{% extends "base.html" %}
{% block content %}



    
    <style>

        
        table {
            
            margin-top: 50px;
            width: 70%;
            border-collapse: collapse; /* Colapsa as bordas das células */
            border-spacing: 0; /* Remove o espaçamento entre as células */
            
          
        }
        
        th {
            background-color: rgb(255, 76, 171);
            color: rgb(255, 0, 0);
            font-family: 'Pacifico';
        }

        td,th {
            padding: 5px 10px;
            text-align: center;
            border:solid 2px  #4c00ffe8;
            
        }

        </style>






    <h1>Agenda Balaio D'Arte</h1>
    
    <table>
        <tr>
            <th>Data</th>
            <th>Horario</th>
            <th>Local</th>
            <th>Descrição</th>
        </tr>

        <tr>
            {% for agenda in agenda %}
            <td>{{agenda.data}}</td>
            <td>{{agenda.horario}}</td>
            <td>{{agenda.local}}</td>
            <td>{{agenda.descricao}}</td>

        </tr>
        {% endfor %}
    </table>

        {% endblock %}

    