{% extends "base.html" %}
{% block content %}



    
    <style>

        main h1 {
            text-align: center;
            font-family: cursive;
            color: yellow;
            -webkit-text-stroke-width: 2px; /* largura da borda */
            -webkit-text-stroke-color: rgb(128, 0, 128,0.5) /* cor da borda */
        }
        
        table {
            
            margin-top: 50px;
            width: 70%;
            border-collapse: collapse; /* Colapsa as bordas das células */
            border-spacing: 0; /* Remove o espaçamento entre as células */
            
          
        }
        
        th {
            background-color: rgb(158, 0, 179, 0.5);
            color: yellow;
            font-family: 'Pacifico';
            font-weight: bold;
            font-style: italic;
            font-size: 30px;
        }

        td,th {
            padding: 5px 10px;
            text-align: center;
            border: 2px solid green;
            
        }

        td {
            background-color:rgb(181, 11, 203, 0.5);
            color: yellow;
            font-family: cursive;
            font-weight: bold;

        }


        </style>






    <h1>Agenda Balaio D'Arte</h1>
  
 
    <table>
        <tr>
            <th>Data</th>
            <th>Horario</th>
            <th>Local</th>
            <th>Descrição</th>
        </tr>

        <tr>
            {% for agenda in agenda %}
            <td>{{agenda.data}}</td>
            <td>{{agenda.horario}}</td>
            <td>{{agenda.local}}</td>
            <td>{{agenda.descricao}}</td>

        </tr>
        {% endfor %}
    </table>

        {% endblock %}

    