{% extends "base.html" %}
{% load static %}
{% block content %}


<style>




    /* Estilização dos cartões de post */
    .post-card {
        display: flex;
        flex-direction: row;
        border: 1px solid #4f4f4f;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.5);
        width: 60%;
        
        height: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: 0.5% 0;
    }

    /* Imagem do post */
    .post-image img {
        width: 27vw;
        height: auto;
        object-fit: cover;
    }

    /* Conteúdo dos posts */
    .post-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        flex: 1;
    }

    .post-header {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #3c00ff;
        margin-bottom: 5px;
    }

    .author-logo {
        width: auto;
        height: 5vh;
        border-radius: 30%;
        margin-right: 8px;
    }

    .author-name {
        font-weight: bold;
        margin-right: 8px;
    }

    .post-date {
        color: #000000;
    }

    .post-title {
        font-size: 1em;
        color: #333;
        margin: 8px 0;
    }

    .post-excerpt {
        font-size: 0.8em;
        color: #000;
        margin-top: 2%;
        align-items: center;
    }

    .post-footer {
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: #888;
        border-top: 1px solid #ddd;
        margin-top: auto;
        
        
    }

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        font-size: 1em;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 1%;
    }

    button:hover {
        background-color: yellow;
    }

    button a {
        color: white;
        text-decoration: none;
    }

    /* Responsividade para telas menores */
    @media (max-width: 768px) {
        .post-card {
            flex-direction: column;
            height: auto;
        }

        .post-image img {
            width: 100%;
            height: 200px;
        }
    }
</style>

  



 <!-- postagem1 -->
    <div class="post-card">

        <div class="post-image">
            <img src="{% static 'img/blog-ecologia1.webp' %}" alt="crianças plantando">
        </div>
        <div class="post-content">
            <div class="post-header">
                <img src="{% static 'img/Banner O Mundo 01b.jpg' %}" alt="Logo do Balaio D'Arte" class="author-logo">
                <span class="author-name">Balaio d'arte</span>
                <span class="post-date">13 de fev. de 2019 • 2 minutos de leitura</span>
            </div>
            <h2 class="post-title">Como ensinar ecologia para crianças?</h2>
            <p class="post-excerpt">Quando falamos em ecologia e consciência ambiental logo pensamos em ONGs e grandes projetos que ajudam a preservar a natureza em seus...</p>
            <div class="post-footer">

                <button><a href="{% url 'post1' %}">Ler Mais</a></button>              
            </div>
        </div>

    </div>
<!-- postagem2 -->
    <div class="post-card">
        <div class="post-image">
            <img src="{% static 'img/6-atv-fzr-ferias.webp' %}" alt="crianças sorrindo">
        </div>
        <div class="post-content">
            <div class="post-header">
                <img src="{% static 'img/Banner O Mundo 01b.jpg' %}" alt="Logo do Balaio D'Arte" class="author-logo">
                <span class="author-name">Balaio d'arte</span>
                <span class="post-date">7 de dez. de 2018 • 2 minutos de leitura</span>
            </div>
            <h2 class="post-title">6 atividades para fazer com as crianças nas férias</h2>
            <p class="post-excerpt">Dezembro já chegou e com ele também chegam as férias escolares. Com as crianças em casa, as atividades e brincadeiras acabam se esgotando...</p>
            <div class="post-footer">
                <button><a href="{% url 'post2' %}">Ler Mais</a></button>              
            </div>
        </div>
    </div>
<!-- postagem3 -->
    <div class="post-card">
        <div class="post-image">
            <img src="{% static 'img/mun-img-estr-tea-raul-cortez.webp' %}" alt="peça de teatro">
        </div>
        <div class="post-content">
            <div class="post-header">
                <img src="{% static 'img/Banner O Mundo 01b.jpg' %}" alt="Logo do Balaio D'Arte" class="author-logo">
                <span class="author-name">Balaio d'arte</span>
                <span class="post-date">12 de nov. de 2018 • 2 minutos de leitura</span>
            </div>
            <h2 class="post-title">O Mundo Imaginário estreia temporada no Teatro Raul Cortez</h2>
            <p class="post-excerpt">São Paulo conta com uma nova programação para a criançada no Teatro Raul Cortez. O Mundo Imaginário, um musical cênico que trata sobre a...</p>
            <div class="post-footer">
                <button><a href="{% url 'post3' %}">Ler Mais</a></button>              
            </div>
        </div>
    </div>
<!-- postagem4 -->
    <div class="post-card">
        <div class="post-image">
            <img src="{% static 'img/esp-int.webp' %}" alt="Peça de teatro">
        </div>
        <div class="post-content">
            <div class="post-header">
                <img src="{% static 'img/Banner O Mundo 01b.jpg' %}" alt="Logo do Balaio D'Arte" class="author-logo">
                <span class="author-name">Balaio d'arte</span>
                <span class="post-date">22 de out. de 2018 • 2 minutos de leitura</span>
            </div>
            <h2 class="post-title">Balaio D'arte estreia espetáculo interativo com desenhos animados</h2>
            <p class="post-excerpt">Em pleno mês das crianças, a companhia de produções artísticas Balaio D'arte estreou o seu novo espetáculo, “Cantando com desenhos”, em...</p>
            <div class="post-footer">
                <button><a href="{% url 'post4' %}">Ler Mais</a></button>              
            </div>
        </div>
    </div>
<!-- postagem5 -->
    <div class="post-card">
        <div class="post-image">
            <img src="{% static 'img/obrigado-professor.webp' %}" alt="obrigado professor">
        </div>
        <div class="post-content">
            <div class="post-header">
                <img src="{% static 'img/Banner O Mundo 01b.jpg' %}" alt="Logo do Balaio D'Arte" class="author-logo">
                <span class="author-name">Balaio d'arte</span>
                <span class="post-date">15 de out. de 2018 • 2 minutos de leitura</span>
            </div>
            <h2 class="post-title">Dia do professor: como usar o teatro no aprendizado?</h2>
            <p class="post-excerpt">O professor tem um papel essencial na formação do ser humano desde a primeira infância até o resto de nossas vidas como aprendizes. Seja...</p>
            <div class="post-footer">
                <button><a href="{% url 'post5' %}">Ler Mais</a></button>              
            </div>
        </div>
    </div>
<!-- postagem6 -->
    <div class="post-card">
        <div class="post-image">
            <img src="{% static 'img/rotary-club.webp' %}" alt="rotary-club">
        </div>
        <div class="post-content">
            <div class="post-header">
                <img src="{% static 'img/Banner O Mundo 01b.jpg' %}" alt="Logo do Balaio D'Arte" class="author-logo">
                <span class="author-name">Balaio d'arte</span>
                <span class="post-date">8 de out. de 2018 • 2 minutos de leitura</span>
            </div>
            <h2 class="post-title">Balaio D'arte recebe subsídio do Rotary Club SBC Terra Nova</h2>
            <p class="post-excerpt">A Balaio D'arte Produções Artísticas recebeu, na última terça-feira (02), o subsídio distrital do Rotary Club SBC Terra Nova para...</p>
            <div class="post-footer">
                <button><a href="{% url 'post6' %}">Ler Mais</a></button>              
            </div>
        </div>
    </div>
<!-- postagem7 -->
    <div class="post-card">
        <div class="post-image">
            <img src="{% static 'img/musica-crianca.webp' %}" alt="criança com headphone">
        </div>
        <div class="post-content">
            <div class="post-header">
                <img src="{% static 'img/Banner O Mundo 01b.jpg' %}" alt="Logo do Balaio D'Arte" class="author-logo">
                <span class="author-name">Balaio d'arte</span>
                <span class="post-date">6 de set. de 2018 • 2 minutos de leitura</span>
            </div>
            <h2 class="post-title">4 Benefícios da música para as crianças</h2>
            <p class="post-excerpt">As estruturas auditivas são uma das primeiras a serem formadas durante o período de gestação. Desde cedo já temos contato com o som...</p>
            <div class="post-footer">
                <button><a href="{% url 'post7' %}">Ler Mais</a></button>              
            </div>
        </div>
    </div>



   





{% endblock %}
