{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/contatos.css' %}">

<div class="corpo">
    <div class="bloco">
        <p>Contatos:</p>
        <div class="icon-container">
            <a href="tel:5511995465227">
                <img src="{% static 'img/call_icon.png' %}" alt="Call Icon">
                <span>Telefone:<br> (11)99546-5227</span>
            </a>
        </div>
        <div class="icon-container">
            <a href="https://wa.me/5511995988422?text=Olá,%20tenho%20interesse%20em%20saber%20mais%20sobre%20o%20seu%20trabalho." target="_blank">
                <img src="{% static 'img/whats.png' %}" alt="WhatsApp Icon">
                <span>WhatsApp:<br> +5511995988422</span>
            </a>
        </div>
        <div class="icon-container">
            <a href="mailto:balaiodarte@yahoo.com.br" target="_blank">
                <img src="{% static 'img/email.png' %}" alt="Email Icon">
                <span>Email:<br> balaiodarte@yahoo.com.br</span>
            </a>
        </div>
    </div>
    
    <div class="bloco">
        <p>Redes Sociais e mídias:</p>
        <div class="icon-container">
            <a href="https://www.facebook.com/omundoimaginariooficial/" target="_blank">
                <img src="{% static 'img/face.png' %}" alt="Facebook Icon">
                <span>Facebook:<br> @omundoimaginariooficial</span>
            </a>
        </div>
        <div class="icon-container">
            <a href="https://www.instagram.com/omundoimaginariooficial/" target="_blank">
                <img src="{% static 'img/insta.jfif' %}" alt="Instagram Icon">
                <span>Instagram<br> @omundoimaginariooficial</span>
            </a>
        </div>
        <div class="icon-container">
            <a href="https://open.spotify.com/intl-pt/album/3Kb8mnY1vkZYnEN4ssOyDs?si=rHHHGohvSX-pGjucyM3Rqg" target="_blank">
                <img src="{% static 'img/spot.jpg' %}" alt="Spotify Icon">
                <span>Conheça nosso album<br> no Spotify</span>
            </a>
        </div>
        <div class="icon-container">
            <a href="https://www.youtube.com/user/OMundoImaginario" target="_blank">
                <img src="{% static 'img/yout.png' %}" alt="YouTube Icon">
                <span>Siga nosso canal no <br>YouTube: @OMundoImaginario</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}
