{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .corpo span {
        color: rgb(0, 0, 0);
        -webkit-text-stroke-width: 2px; 
        -webkit-text-stroke-color: rgba(0, 255, 0, 0.5);
    }

    .corpo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
        width: 70%;

        color: black;
        -webkit-text-stroke-width: 0.1px; 
        -webkit-text-stroke-color: yellow;
        
    }

    .bloco {
        display: flex;
        flex-direction: column;
        margin: 1px;
        background-color: transparent;


    }

    .icon-container {
        display: flex;
        flex-direction: row; /* Ícone e texto na mesma linha */
        margin-bottom: 10px;
        margin-left: 1px;
    }

    .icon-container a {
        display: flex;
        align-items: center; /* Alinha o texto verticalmente ao centro do ícone */
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    .icon-container img {
        width: 100px;
        height: 100px;

    }

    .bloco p {
        
        font-size: x-large;
        font-weight: bold;
        font-family: pacifico;
    }

    span:hover {
        color: yellow;
    }

    /* Media Queries para Responsividade */
    @media (max-width: 768px) {
        .corpo {
            width: 90%;
            padding-left: 5%;
        }

        .bloco {
            min-width: 40%;
        }

        .bloco p {
            font-size: large;
        }

        .icon-container img {
            width: 80px;
            height: 80px;
        }
    }

    @media (max-width: 480px) {
        .corpo {
            width: 100%;
            padding-left: 0;
        }

        .bloco {
            min-width: 100%;
            margin-bottom: 15px;
        }

        .bloco p {
            font-size: medium;
        }

        .icon-container img {
            width: 70px;
            height: 70px;
        }
    }
</style>

<div class="corpo">
    <div class="bloco">
        <p>Contatos:</p>
        <div class="icon-container">
            <a href="tel:5511995465227">
                <img src="{% static 'img/call_icon.png' %}" alt="Call Icon">
                <span>Telefone:<br> (11)99546-5227</span>
            </a>
        </div>
        <div class="icon-container">
            <a href="https://wa.me/5511995988422?text=Olá,%20tenho%20interesse%20em%20saber%20mais%20sobre%20o%20seu%20trabalho." target="_blank">
                <img src="{% static 'img/whats.png' %}" alt="WhatsApp Icon">
                <span>WhatsApp:<br> +5511995988422</span>
            </a>
        </div>
        <div class="icon-container">
            <a href="mailto:balaiodarte@yahoo.com.br" target="_blank">
                <img src="{% static 'img/email.png' %}" alt="Email Icon">
                <span>Email:<br> balaiodarte@yahoo.com.br</span>
            </a>
        </div>
    </div>
    
    <div class="bloco">
        <p>Redes Sociais e mídias:</p>
        <div class="icon-container">
            <a href="https://www.facebook.com/omundoimaginariooficial/" target="_blank">
                <img src="{% static 'img/face.png' %}" alt="Facebook Icon">
                <span>Facebook:<br> @omundoimaginariooficial</span>
            </a>
        </div>
        <div class="icon-container">
            <a href="https://www.instagram.com/omundoimaginariooficial/" target="_blank">
                <img src="{% static 'img/insta.jfif' %}" alt="Instagram Icon">
                <span>Instagram<br> @omundoimaginariooficial</span>
            </a>
        </div>
        <div class="icon-container">
            <a href="https://open.spotify.com/intl-pt/album/3Kb8mnY1vkZYnEN4ssOyDs?si=rHHHGohvSX-pGjucyM3Rqg" target="_blank">
                <img src="{% static 'img/spot.jpg' %}" alt="Spotify Icon">
                <span>Conheça nosso album<br> no Spotify</span>
            </a>
        </div>
        <div class="icon-container">
            <a href="https://www.youtube.com/user/OMundoImaginario" target="_blank">
                <img src="{% static 'img/yout.png' %}" alt="YouTube Icon">
                <span>Siga nosso canal no <br>YouTube: @OMundoImaginario</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}
