{% extends "base.html" %}
{% load static %}
{% block content %}

<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fomundoimaginariooficial%2Fposts%2Fpfbid021AjdiF2PuvxFGpuVpX7C1pw4QAdHwcHtaPUewwGGJePAhX8HTN2GEfZQcbHgKsdol&show_text=true&width=500" width="500" height="1000" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fomundoimaginariooficial%2Fposts%2Fpfbid02VAugDZ5kU9TszgL8ftLSaPmETyRWAFGBLuQkVx45ecu1Avszn9DRUqqaGfGSpm79l&show_text=true&width=500" width="500" height="1000" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
{% endblock %}