{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/espetaculos.css' %}">

    <div class="wrapper">
        <h1>Espetáculos</h1>
        <p>Conheça nossos outros espetáculos, se encante e entre em contato para mais informações.</p>
        <div class="content-box">
            <div class="card">
                <h2>O Mundo Imaginário</h2>
                <p>
                    Um espetáculo de Beto Paschoal que lida com a ecologia e a relação das crianças com os animais por meio de músicas envolventes e uma abordagem lúdica. Apresentado em várias unidades do SESC e espaços públicos.
                </p>
                <button><a href="{% url 'peca1' %}">Saiba Mais</a></button>
            </div>
            <div class="card">
                <h2>SOS Natureza</h2>
                <p>
                    Este espetáculo utiliza canções cativantes para conscientizar as crianças sobre a proteção de animais exóticos ameaçados de extinção, abordando a preservação ambiental de forma acessível.
                </p>
                <button><a href="{% url 'peca2' %}">Saiba Mais</a></button>
            </div>
            <div class="card">
                <h2>Brinquedos e Brincadeiras</h2>
                <p>
                    Revive jogos e brincadeiras tradicionais e modernas, oferecendo uma experiência interativa onde as crianças são convidadas a participar e se divertir com o elenco.
                </p>
                <button><a href="{% url 'peca3' %}">Saiba Mais</a></button>
            </div>
            <div class="card">
                <h2>Os Saltimbancos</h2>
                <p>
                    Conta a história de quatro animais que, após fugirem de seus donos, formam um grupo musical em busca de liberdade. A peça aborda valores de união e solidariedade, mostrando como o coletivo pode superar dificuldades individuais.
                </p>
                <button><a href="{% url 'peca4' %}">Saiba Mais</a></button>
            </div>
        </div>
    </div>


{% endblock %}