{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/midia.css' %}">

<div class="container">
    <h1 class="title">Balaio D'Arte na Mídia</h1>

    <div class="carousel-container">
        <div class="carousel-videos" id="videoCarousel">
            {% for video in video %}
                <iframe id="{{ video.id }}" class="{% if forloop.first %}active{% endif %}" src="{{video.link}}?enablejsapi=1&rel=0&wmode=transparent" title="{{video.titulo}}" allow="autoplay; encrypted-media"></iframe>
            {% endfor %}
        </div>
        <div class="arrow left" onclick="prevVideo()">&#10094;</div>
        <div class="arrow right" onclick="nextVideo()">&#10095;</div>
    </div>

    <div class="foto-grid">
        {% for foto in midia %}
            <div class="foto-card" onclick="openModal({{ forloop.counter0 }})">
                <img src="{{ foto.imagem.url }}" alt="{{ foto.legenda }}">
                <h2>{{ foto.legenda }}</h2>
            </div>
        {% endfor %}
    </div>

    <div id="myModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            <span class="arrow prev" onclick="changeImage(-1)">&#10094;</span>
            <img id="modal-image" src="" alt="">
            <h2 id="modal-caption"></h2>
            <span class="arrow next" onclick="changeImage(1)">&#10095;</span>
        </div>
    </div>
</div>

<script>
    let currentVideo = 0;
    const videoFrames = document.querySelectorAll('.carousel-videos iframe');
    
    function pauseVideo(video) {
        video.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
    }

    function playVideo(video) {
        video.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', '*');
    }

    function showVideo(index) {
        const totalVideos = videoFrames.length;
        if (index >= totalVideos) {
            currentVideo = 0;
        } else if (index < 0) {
            currentVideo = totalVideos - 1;
        } else {
            currentVideo = index;
        }
        
        videoFrames.forEach(video => video.classList.remove('active'));
        pauseVideo(videoFrames[currentVideo]);
        
        videoFrames[currentVideo].classList.add('active');
        playVideo(videoFrames[currentVideo]);
    }

    function nextVideo() {
        pauseVideo(videoFrames[currentVideo]);
        showVideo(currentVideo + 1);
    }
    
    function prevVideo() {
        pauseVideo(videoFrames[currentVideo]);
        showVideo(currentVideo - 1);
    }

    const images = [
    {% for foto in midia %}
        { url: "{{ foto.imagem.url }}", caption: "{{ foto.legenda }}" }{% if not forloop.last %},{% endif %}
    {% endfor %}
    ];
    let currentIndex = 0;

    function openModal(index) {
        currentIndex = index;
        updateModal();
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    function updateModal() {
        document.getElementById("modal-image").src = images[currentIndex].url;
        document.getElementById("modal-caption").textContent = images[currentIndex].caption;
    }

    function changeImage(direction) {
        currentIndex += direction;
        if (currentIndex < 0) {
            currentIndex = images.length - 1;
        } else if (currentIndex >= images.length) {
            currentIndex = 0;
        }
        updateModal();
    }
</script>

{% endblock %}
