{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/peca1.css' %}">

<div class="botao-voltar">
    <a href="{% url 'espetaculos' %}">
        <button class="voltar">Voltar</button>
    </a>
</div>


<div class="conteudo">
    <div class="imagem">
        <img src="{% static 'img/mundoimaginario.jpg' %}" alt="Cartaz do Espetáculo" />
    </div>
    <div class="texto">
        <div class="titulo">O Mundo Imaginário</div>
        <p>Criado por Beto Paschoal em 2011, O Mundo Imaginário conta com repertório composto em parcerias com Lula Barbosa, Nilton Célio e Nando de Paula. Em cena, Beto é acompanhado pela atriz e cantora Lais Böker, com direção cênica de Ana Paula Navarro.</p>
        <br><p>O show trata de assuntos como ecologia e a relação das crianças com os animais, de forma lúdica e divertida ao som de músicas contagiantes e de fácil memorização. O espetáculo já foi apresentado nas unidades do SESC de Itaquera, Sorocaba e Taubaté, em escolas, por meio de parcerias em todo o estado, além de em teatros e espaços públicos, por meio de parcerias com governos municipais de São Bernardo do Campo, São Caetano, Mauá, São Sebastião, Jacareí, Cruzeiro, Paraibúna e outras.</p>
    </div>
</div>

<div class="carrossel">
    <img src="{% static 'img/terra.jpg' %}" alt="Imagem 1" class="active">
    <img src="{% static 'img/aranha.jpg' %}" alt="Imagem 2">
    <img src="{% static 'img/abelha.jpg' %}" alt="Imagem 3">
    <img src="{% static 'img/carangueijo.jpg' %}" alt="Imagem 4">
    <img src="{% static 'img/cachorro.jpg' %}" alt="Imagem 5">
    <div class="legenda">Planeta Terra</div>
    <div class="legenda" style="display: none;">Aranha</div>
    <div class="legenda" style="display: none;">Abelha</div>
    <div class="legenda" style="display: none;">Carangueijo</div>
    <div class="legenda" style="display: none;">Vira-Lata</div>

    <button class="prev">Anterior</button>
    <button class="next">Próximo</button>
</div>

<script>
    let currentIndex = 0;
    const images = document.querySelectorAll('.carrossel img');
    const legends = document.querySelectorAll('.legenda');

    function updateCarousel() {
        images.forEach((img, index) => {
            img.classList.remove('active');
            legends[index].style.display = 'none';
        });
        images[currentIndex].classList.add('active');
        legends[currentIndex].style.display = 'block';
    }

    document.querySelector('.prev').addEventListener('click', () => {
        currentIndex = (currentIndex === 0) ? images.length - 1 : currentIndex - 1;
        updateCarousel();
    });

    document.querySelector('.next').addEventListener('click', () => {
        currentIndex = (currentIndex === images.length - 1) ? 0 : currentIndex + 1;
        updateCarousel();
    });

    updateCarousel();
</script>

{% endblock %}
