{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/peca4.css' %}">

<div class="botao-voltar">
    <a href="{% url 'espetaculos' %}">
        <button class="voltar">Voltar</button>
    </a>
</div>

<div class="conteudo">
    <video class="video-player" controls>
        <source src="{% static 'vid/saltimbacos.mp4' %}" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
    </video>

    <div class="texto">
        <span><h3>Os Saltimbacos</h3></span>
        <p>Um show que traz para as crianças o que elas mais gostam de fazer. Relembramos brincadeiras que marcaram época, que fazem parte do folclore musical infantil, sem deixar de lado as brincadeiras mais atuais. É um espetáculo super interativo que convida o público a se envolver nas atividades, dançar e cantar junto com os artistas no palco.</p>
        <br>
        <p>A cada cena, uma nova brincadeira ganha vida, fazendo com que as crianças experimentem uma jornada pelos clássicos da infância e ainda aprendam novos jogos e músicas que divertem e educam ao mesmo tempo. Este espetáculo é uma celebração do universo infantil, proporcionando momentos inesquecíveis de aprendizado e diversão em grupo!</p>
    </div>
</div>

{% endblock %}
