{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/peca3.css' %}">

<div class="botao-voltar">
    <a href="{% url 'espetaculos' %}">
        <button class="voltar">Voltar</button>
    </a>
</div>

<div class="conteudo">
    <div class="titulo">Brinquedos e Brincadeiras</div> 
    <div class="imagem">
        <img src="{% static 'img/brinquedos.jpg' %}" alt="Cartaz do Espetáculo" />
    </div>
    <div class="texto">
        <p>Um show que traz para as crianças o que elas mais gostam de fazer. Relembramos brincadeiras que marcaram época, que fazem parte do folclore musical infantil, sem deixar de lado as brincadeiras mais atuais. É um espetáculo super interativo que convida o público a se envolver nas atividades, dançar e cantar junto com os artistas no palco.</p>
        <p>A cada cena, uma nova brincadeira ganha vida, fazendo com que as crianças experimentem uma jornada pelos clássicos da infância e ainda aprendam novos jogos e músicas que divertem e educam ao mesmo tempo. Este espetáculo é uma celebração do universo infantil, proporcionando momentos inesquecíveis de aprendizado e diversão em grupo!</p>
    </div>
</div>

{% endblock %}
