{% extends "base.html" %}
{% load static %}
{% block content %}

<style>

    body {
        font-family: sans-serif;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff; 
        color: #000000;
        padding: 0;
    }

    div.botao-voltar{
        width: 100%;
        text-align: center;

    }

    button.voltar{
        padding: 10px 20px;
        background-color: #3050dc;
        margin-top: 10px;
        color: #ffffff; 
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .voltar:hover {
        background-color: #00FFFF;
    }

    .conteudo {
        display: flex;
        align-items: flex-start; 
        width: 50%;
        margin: 40px 0; 
        padding: 20px;
        border-radius: 10px;
        background-color: #e5dfd3; 
        border: 1px solid #1e8ec6; 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        color: #000000; 
        position: relative;
        flex-wrap: wrap;
    }

    .titulo {
        font-size: 1.8em;
        font-weight: bold;
        color: #1e8ec6; 
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; 
        width: 100%; 
        text-align: left;
        margin-bottom: 15px; 
    }

    .imagem {
        width: 30%; 
        margin-right: 20px; 
    }

    .imagem img {
        width: 100%;
        height: auto;
        border: 2px solid #000000;
        border-radius: 10px;
    }

    .texto {
        width: 55%; 
        text-align: justify;
    }

</style>

    <div class="botao-voltar">
        <a href="{% url 'espetaculos' %}">
            <button class="voltar">Voltar</button>
        </a>
    </div>

    <div class="conteudo">
        <div class="titulo">Brinquedos e Brincadeiras</div> 
        <div class="imagem">
            <img src="{% static 'img/brinquedos.jpg' %}" alt="Cartaz do Espetáculo" />
        </div>
        <div class="texto">
            <p>Um show que traz para as crianças o que elas mais gostam de fazer. Relembramos brincadeiras que marcaram época, que fazem parte do folclore musical infantil, sem deixar de lado as brincadeiras mais atuais. É um espetáculo super interativo que convida o público a se envolver nas atividades, dançar e cantar junto com os artistas no palco.</p>
            <p>A cada cena, uma nova brincadeira ganha vida, fazendo com que as crianças experimentem uma jornada pelos clássicos da infância e ainda aprendam novos jogos e músicas que divertem e educam ao mesmo tempo. Este espetáculo é uma celebração do universo infantil, proporcionando momentos inesquecíveis de aprendizado e diversão em grupo!</p>
        </div>
    </div>

{%endblock %}