{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/peca2.css' %}">

<div class="botao-voltar">
    <a href="{% url 'espetaculos' %}">
        <button class="voltar">Voltar</button>
    </a>
</div>

<div class="conteudo">
    <div class="imagem">
        <img src="{% static 'img/sos.jpg' %}" alt="Cartaz do Espetáculo" />
    </div>
    <div class="texto">
        <div class="titulo">SOS Natureza</div> <!-- Título posicionado dentro da div e centralizado -->
        <p>O espetáculo propõe despertar a sensibilização do público infantil para questões ligadas à proteção dos animais exóticos que estão em extinção, de uma forma lúdica, utilizando canções de fácil memorização e que incentivam a conscientização. As apresentações criam um ambiente envolvente para que as crianças compreendam o valor da biodiversidade e a importância da preservação ambiental.</p>
        <br><p>Em um espetáculo encantador e educativo, cada cena busca não só entreter, mas também oferecer um momento de reflexão sobre a fauna e flora do nosso planeta, promovendo atitudes sustentáveis desde a infância.</p>
    </div>
</div>

{% endblock %}
