{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/post3.css' %}">

<div class="post-container">

    <div class="post-header">
        <img src="{% static 'img/Banner O Mundo 01b.jpg' %}" alt="logo balaio d'arte" >
        <div class="author-info">
            <span class="author-name">Balaio d'arte</span>
            <span class="post-date">• 12 de nov. de 2018 • 2 minutos de leitura</span>
        </div>
    </div>

    <h1 class="post-title">O Mundo Imaginário estreia temporada no Teatro Raul Cortez</h1>
    <img src="{% static 'img/mun-img-estr-tea-raul-cortez.webp' %}" alt="peça o mundo imaginario" width="700px" >
    <p class="legenda3">Em cena estão Lais Böker, Beto Paschoal e a bailarina Gaby Andersen</p>



    <div class="post-content">
        <p>São Paulo conta com uma nova programação para a criançada no Teatro Raul Cortez. O Mundo Imaginário, um musical cênico que trata sobre a preservação da natureza, estreou no último sábado, 10 de novembro, e permanece em cartaz aos finais de semana até o dia 16 de dezembro.</p>

    
        <div class="image-text-container">
            <p>Direcionado para crianças de até 8 anos, o espetáculo encanta a todas as idades e conquista muito além dos fãs mirins. É o caso de Daniela, mãe da Aline, 2 anos, que já tem presença marcada nas apresentações. “Além do olhar deles sobre os animais ser muito bonito, é um tema um pouco diferente do que a gente vê porque fala de animais que acabam passando despercebidos, que a gente não vê muito: a formiga, a mosca. Eles são tratados de uma forma diferente, que a gente não está acostumado”, afirmou.</p>
            <img src="{% static 'img/sapocaixa.webp' %}" alt="sapo de pelucia em uma caixa">
        </div>
        <p class="legenda">O sapo "pequeninho" é um dos preferidos da criançada</p>

        
        <div class="image-text-container">
            
            <img src="{% static 'img/3888_2592_s_4_2.webp' %}" alt="Crianças brincando no parque">
            <p>Durante a peça as crianças foram estimuladas o tempo todo, participando ativamente, cantando e até mesmo dançando. Para a estreia a bilheteria foi aberta a ONGs e instituições de caridade gratuitamente, deixando a data ainda mais especial. “Eu achei muito interessante a parte em que eles falam do planeta Terra. </p>
        </div>
        <p class="legenda2">Plateia recebe a Terra em suas mãos</p>

        
        <p>Foi maravilhoso porque falou exatamente o que nós estamos precisando: cuidar do nosso meio ambiente, do nosso planeta, preservar tudo isso e fazer com que o nosso futuro seja melhor”, contou  Rosana, responsável por trazer as crianças da Unibes, ONG que oferece atividades complementares nas áreas de esportes, artes e cultura para a população de baixa renda.</p>

        
        
    </div>

    <div class="post-footer">
        <a href="{% url 'blog' %}">Voltar</a>
    </div>
</div>

{% endblock %}
