{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/post5.css' %}">

<div class="post-container">

    <div class="post-header">
        <img src="{% static 'img/Banner O Mundo 01b.jpg' %}" alt="Imagem de ecologia" >
        <div class="author-info">
            <span class="author-name">Balaio d'arte</span>
            <span class="post-date">• 15 de out. de 2018 • 2 minutos de leitura</span>
        </div>
    </div>

    <h1 class="post-title">Dia do professor: como usar o teatro no aprendizado?</h1>

    



    <div class="post-content">
        <p> O professor tem um papel essencial na formação do ser humano desde a primeira infância até o resto de nossas vidas como aprendizes. Seja na escola, faculdade ou numa atividade extracurricular, o professor se transforma em um modelo a ser seguido e uma verdadeira inspiração para os seus alunos.</p>
        <p>Quando falamos de formação cultural, os professores ganham um papel ainda mais importante, principalmente no que diz respeito à educação infantil. Ir ao teatro, por exemplo, é uma atividade extracotidiana em relação à rotina escolar, mas pode ser transformada em oportunidade para criar uma situação de aprendizagem por meio da preparação antes da ida ao teatro e também na volta à escola.</p>
        <p>Para comemorar o dia do professor, separamos algumas dicas para aqueles que querem incluir a ida ao teatro em seu processo de ensino</p>

        <h2 class="post-subtitle">1. Prepare o seu aluno</h2>
        <div class="image-text-container">
            <p>A plateia é o membro mais reverenciado no teatro! Tudo o que fazemos no palco e nos bastidores é para o espectador. Para tornar a ida ao teatro ainda mais rica é interessante que as crianças tenham essa noção. Explique o quanto de ensaio e preparo foi necessário para que aquele espetáculo chegasse até ali e estimule o aplauso e a atenção. </p>
        </div>
        <img src="{% static 'img/g1.webp' %}" alt="Crianças plantando árvores">


        <h2 class="post-subtitle">2. Crie um ambiente familiar</h2>
        <div class="image-text-container">
            <p>Informe-se sobre o espetáculo de teatro antes da experiência conhecendo a sua temática, recomendação de faixa etária e proposta. Você poderá propor atividades com a temática abordada, utilizar as músicas e assim, familiarizar as crianças com o espetáculo. Alimentada por projetos interdisciplinares, a ida ao teatro poderá até mesmo focar questões de história, geografia, língua portuguesa e outros. 

            </p>
        </div>
        <img src="{% static 'img/g2.webp' %}" alt="Crianças brincando no parque">

        <h2 class="post-subtitle">3. Estimule interação com o ambiente</h2>
        <div class="image-text-container">
            <p>Para que as crianças se sintam ainda mais envolvidas com a experiência, pode se atribuir atividades a serem feitas durante a apresentação. Uma sugestão é propor a formação de equipes às quais podem ser atribuídas tarefas específicas, como equipes organizadas com diferentes focos. Os alunos podem, por exemplo, observar com mais atenção a iluminação, a cenografia, os figurinos, o edifício do teatro ou as músicas. </p>
        </div>
        <img src="{% static 'img/g3.webp' %}" alt="Crianças brincando no parque">

        <h2 class="post-subtitle">4. Estenda a experiência na volta à escola </h2>
        <div class="image-text-container">
            <p>A ida ao teatro influenciará as conversas e ações dos alunos, transformando e alargando o seu imaginário e a sua leitura de mundo. Na sala de aula as informações e percepções podem ser compartilhadas. O importante não é aquilo que a cena quer dizer, mas o  que cada um pôde perceber daquilo. A função do professor, aqui é estimular o aluno a manifestar-se criativamente sobre essa experiência. Peça que façam desenhos sobre os momentos favoritos, questione sobre a temática apresentada e abuse na criatividade!</p>
        </div>
        <img src="{% static 'img/g4.webp' %}" alt="Crianças brincando no parque">


    </div>

    <div class="post-footer">
        <a href="{% url 'blog' %}">Voltar</a>
    </div>
</div>

{% endblock %}
