{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/post6.css' %}">

<div class="post-container">

    <div class="post-header">
        <img src="{% static 'img/Banner O Mundo 01b.jpg' %}" alt="Imagem de ecologia" >
        <div class="author-info">
            <span class="author-name">Balaio d'arte</span>
            <span class="post-date">• 8 de out. de 2018 • 2 minutos de leitura</span>
        </div>
    </div>

    <h1 class="post-title">Balaio D’arte recebe subsídio do Rotary Club SBC Terra Nova</h1>



    <div class="post-content">
        
        
        <div class="image-text-container">
            <img src="{% static 'img/rotary.webp' %}" alt="Crianças plantando árvores">
            <div id="paragrafo">
            <p>A Balaio D’arte Produções Artísticas recebeu, na última terça-feira (02), o subsídio distrital do Rotary Club SBC Terra Nova para fomentar e distribuir a cultura para as crianças da região.


            <p>A companhia tem, em sua história, diversos espetáculos voltados para o público infantil, que reforçam o cuidado com a natureza, a importância da imaginação e também abordam questões como os diferentes tipos de famílias, brincadeiras e a ecologia. Com músicas divertidas e cenários lúdicos, os espetáculos são levados, desde 2011, para crianças carentes, instituições, escolas, creches e hospitais de diversas regiões do estado de São Paulo.
            </p></p>
        </div>
        </div>
        
        <p>Com o nome “Divulgando Cultura”, o projeto do Rotary Club SBC Terra Nova tem o objetivo de dar o apoio necessário ao grupo para que continue esse trabalho. “Quando eu conheci a companhia já percebi o quanto era especial porque é muito difícil vermos trabalhos como esse no Brasil, especialmente quando falamos de crianças. Reforçar a cultura brasileira entre o público infantil é de extrema importância e uma causa que o Rotary apoia internacionalmente”, afirmou a presidente Alexandra Corrêa.</p>
        <p>O subsídio, no valor de 700 dólares, será usado para a compra de equipamentos de iluminação que vão possibilitar uma melhora na entrega para as crianças, já que, muitas vezes, os locais em que são realizadas as apresentações beneficentes são muito simples e não podem oferecer muitos recursos. </p>
        <p>“O patrocínio nos deu a oportunidade de comprar o que faltava para a gente para poder apresentar espetáculos em horários alternativos e em qualquer lugar, por mais simples que seja.”, contou Laís, atriz da Balaio D’arte Produções artísticas. “ As luzes que nós compramos dão um colorido para qualquer cenário que for montado, em qualquer lugar. Nós estamos profundamente agradecidos e sensibilizados porque isso, com certeza, vai ser aproveitado por todos que assistirem aos shows e nos ajudar a levar mais cultura para ainda mais crianças!”, complementou Beto Paschoal, ator do grupo. </p>

        
        <div class="image-text-container">
            <p>Além de projetos sociais, a companhia também está em cartaz com o espetáculo “O Mundo Imaginário”, em São Paulo. As apresentações acontecem nos dias 28 de outubro no Teatro UMC e 10 e 11 de novembro no Teatro J. Safra. Para mais informações, acesse o site da companhia </p>
            <img src="{% static 'img/caracol.webp' %}" alt="Crianças brincando no parque">
        </div>

        
    </div>

    <div class="post-footer">
        <a href="{% url 'blog' %}">Voltar</a>
    </div>
</div>

{% endblock %}
