{% extends "base.html" %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/post7.css' %}">

<div class="post-container">

    <div class="post-header">
        <img src="{% static 'img/Banner O Mundo 01b.jpg' %}" alt="Imagem de ecologia" >
        <div class="author-info">
            <span class="author-name">Balaio d'arte</span>
            <span class="post-date">• 6 de set. de 2018 • 2 minutos de leitura</span>
        </div>
    </div>

    <h1 class="post-title">4 Benefícios da música para as crianças</h1>

    



    <div class="post-content">
       <p>As estruturas auditivas são uma das primeiras a serem formadas durante o período de gestação. Desde cedo já temos contato com o som ritmado do batimento do coração de nossas mães, o tom da sua voz e todos os sons que ouvem. A audição é protagonista nesse primeiro momento de desenvolvimento e talvez seja por isso que nos toque de forma tão sensível e íntima para o resto de nossas vidas.</p>
       <p>No processo de desenvolvimento da criança, essa forma cognitiva continua tendo grande importância e é aí que a música vem para agregar nesse aprendizado. O contato com a música abre uma porta para que a criança se expresse de maneiras diferentes e experimente novas sensações e movimentos. </p>
       <p>Por isso, separamos quatro benefícios que a música pode trazer para a vida da criança:</p>

        <h2 class="post-subtitle">1. Melhora da coordenação motora </h2>
        <div class="image-text-container">
            <p>A criança se sente estimulada ao ouvir música e passa a experimentar novas formas de expressão corporal e combinações de movimentos, utilizando recursos para tentar adaptá-los ao ritmo ouvido.  </p>
        </div>
        <img src="{% static 'img/motora.webp' %}" alt="Crianças plantando árvores">


        <h2 class="post-subtitle">2. Desperta a sensibilidade e a criatividade</h2>
        <div class="image-text-container">
            <p>Ao ouvir uma música, diferentes partes do cérebro são ativadas e a criança pode experimentar diversas sensações. Além disso, mesmo que ainda não entenda a letra, a música desperta a vontade de criar e conhecer novos sons e maneiras de se expressar.</p>
        </div>
        <img src="{% static 'img/criativa.webp' %}" alt="Crianças brincando no parque">

        <h2 class="post-subtitle">3. Melhora a comunicação</h2>
        <div class="image-text-container">
            <p>O contato com a música em ambientes coletivos também estimula uma melhor comunicação e convivência entre as crianças. Elas se sentem mais confiantes em compartilhar canções e sentem-se inseridas em um grupo que se entende por meio de uma linguagem diferente. </p>
        </div>
        <img src="{% static 'img/comunica.webp' %}" alt="Crianças brincando no parque">

        <h2 class="post-subtitle">4. Aprendizado mais rápido </h2>
        <div class="image-text-container">
            <p>Por meio de canções infantis em que há rimas, versos de fácil memorização e muitas vezes são acompanhadas de gestos e coreografias, a criança melhora a sua forma de falar e de entender o significado de cada palavra. Além disso a música também pode ajudar na potencialização da memória, aprendizado de outros idiomas e até mesmo de matemática.</p><br>
        </div>
        <p>Nos espetáculos do Balaio D'arte todos esses benefícios são estimulados. Com adereços e cenários coloridos, outras funções sensoriais como a visão e até mesmo o tato também são estimulados, sempre valorizando o poder da imaginação.</p>
        <img src="{% static 'img/aprende.webp' %}" alt="Crianças brincando no parque">


    </div>

    <div class="post-footer">
        <a href="{% url 'blog' %}">Voltar</a>
    </div>
</div>

{% endblock %}
