{% extends "base.html" %}
{% load static %}

{% block content %}
<style>

    p{
        text-align: justify;
        font-family: cursive;
    }


    .post-container {
        max-width: 900px;
        margin: 5px auto;
        padding: 10px 50px 0px 50px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .post-header {
        display: flex;
        align-items: center; /* Alinha a imagem e o texto verticalmente */
        justify-content: flex-start; /* Alinha tudo à esquerda */
        gap: 10px; /* Controla a distância entre a imagem e o texto */
        margin-bottom: 20px;
 
    }

    .post-header img {
        
        border-radius: 8px;
        width: 40px;
        height: 40px;
        margin:0;

    }

    .author-info {
        font-size: 14px;
        color: #888;
        margin:0;
    }

    .author-name {
        font-weight: bold;
        color: #333;
    }

    .post-title {
        font-size: 32px;
        color: #333;
        margin: 15px 0px 15px 0px;
        font-family: 'Pacifico';
    }

    .post-date {
        color: #888;
        font-size: 14px;
    }

    .post-excerpt, .post-content p {
        font-size: 18px;
        color: #333;
        line-height: 1.6;
    }

    .post-content {
        margin-top: 20px;
    }

    .post-subtitle {
        font-size: 22px;
        color: #333;
        font-style: italic;
        font-weight: bold;
        margin-top: 20px;
        text-align: justify;
        font-family: 'Pacifico';
    }

    .post-content .image-text-container {
        display: flex;
        align-items: flex-start;
        margin: 20px 0;
    }

    .post-content .image-text-container img {
        max-width: 40%;
        margin:0px 10px 0px 10px;
        border-radius: 8px;
    }

    .post-footer {
        text-align: center;
        margin-top: 30px;
        padding: 20px 0;
        border-top: 1px solid #ddd;
    }

    .post-footer a {
        text-decoration: none;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        transition: 0.3s;
    }

    .post-footer a:hover {
        background-color: #0056b3;
    }

    p.legenda {
        font-size: 12px;
        text-align: center;
        
    }
</style>

<div class="post-container">

    <div class="post-header">
        <img src="{% static 'img/Banner O Mundo 01b.jpg' %}" alt="logo balaio d'arte" >
        <div class="author-info">
            <span class="author-name">Balaio d'arte</span>
            <span class="post-date">• 12 de nov. de 2018 • 2 minutos de leitura</span>
        </div>
    </div>

    <h1 class="post-title">O Mundo Imaginário estreia temporada no Teatro Raul Cortez</h1>
    <img src="{% static 'img/mun-img-estr-tea-raul-cortez.webp' %}" alt="peça o mundo imaginario" width="700px" >
    <p class="legenda">Em cena estão Lais Böker, Beto Paschoal e a bailarina Gaby Andersen</p>

    <div class="post-excerpt">
        <p>preencher</p>
    </div>

    <div class="post-content">
        <p>preencher</p>

        <h2 class="post-subtitle">preencher</h2>
        <div class="image-text-container">
            <img src="{% static 'img/sem_imagem.png' %}" alt="Crianças plantando árvores">
            <p>preencher</p>
        </div>

        <h2 class="post-subtitle">preencher</h2>
        <div class="image-text-container">
            <p>preencher</p>
            <img src="{% static 'img/sem_imagem.png' %}" alt="Crianças brincando no parque">
        </div>

        <h2 class="post-subtitle">preencher</h2>
        <p>preencher

        </p>

        <h2 class="post-subtitle">preencher</h2>
        <p>preencher</p>

        <div class="image-text-container">
            <img src="{% static 'img/sem_imagem.png' %}" alt="Espetáculo O Mundo Imaginário">
            <p>preencher</p>
        </div>

        <p class="legenda">preencher</p>
        
    </div>

    <div class="post-footer">
        <a href="{% url 'blog' %}">Voltar</a>
    </div>
</div>

{% endblock %}
