
    * {
        padding: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    .wrapper {
        height: 99%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(158, 0, 179, 0.5);
        padding-top: 1px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        width: 80%;
        border-radius: 8px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .wrapper h1 {
        font-size: 2em;
        margin-bottom: 10px;
        padding: 5px 15px;
        color: #fff;
    }

    .wrapper p {
        font-size: 1.2em;
        margin-bottom: 15px;
        color: #fff;
    }

    .content-box {
        width: 100%;
        max-width: 900px; /* Reduz o máximo da largura para centralizar os cards */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; /* Reduz a distância entre os cards */
        justify-items: center;
    }

    .card {
        width: 80%; /* Reduz a largura em 10% */
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
        background: #fff;
        transition: 0.3s;
        align-items: center;
        margin-bottom: 5px;
    }

    .card h2 {
        margin-bottom: 10px;
        text-align: center;
    }

    .card p {
        color: #6c757d;
        text-align: justify;
        margin-bottom: 15px;
    }

    .card button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        font-size: 1em;
        cursor: pointer;
        transition: 0.3s;
        margin-top: auto;
        
    }

    .card button:hover {
        background-color: yellow;
        
    }

    .card:hover {
        background: linear-gradient(90deg, rgba(2,2,36,0.7) 0%, rgba(9,9,221,0.7) 35%, rgba(0,212,255,0.7) 100%);
        opacity: 0.8;
        color: #fff;
    }

    .card:hover p, .card:hover h2 {
        color: yellow;
    }

    @media (max-width: 991px) {
        .wrapper h1 {
            font-size: 2em;
        }

        .wrapper p {
            padding: 5px 5px;
        }

        .content-box {
            grid-template-columns: 1fr;
            width: 80%;
            align-items: center;
        }

        .card {
            width: 80%;
            margin: 1%;
        }

        
    }
