

    /* Estilos gerais */
    div.botao-voltar {
        width: 100%;
        text-align: center;
    }

    button.voltar {
        padding: 10px 20px;
        background-color: #3050dc;
        margin-top: 10px;
        color: #ffffff; 
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .voltar:hover {
        background-color: yellow;
    }

    .titulo {
        font-size: 2em;
        font-weight: bold;
        color: #3050dc; 
        text-align: center;
        margin-bottom: 20px;
        text-shadow: -1px -1px 0 #ffff00, 1px -1px 0 #ffff00, -1px 1px 0 #ffff00, 1px 1px 0 #ffff00; 
    }

    .conteudo {
        display: flex;
        justify-content: space-between;
        width: 60%; /* Alterado para garantir que o conteúdo ocupe 100% da largura disponível */
        margin: 20px 0;
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(127, 180, 220, 0.5); 
        border: 1px solid #e1d781; 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        color: #000000;
    }

    .imagem {
        width: 45%;
    }

    .imagem img {
        width: 100%; /* Garantir que a imagem ocupe 100% da largura da div */
        height: auto;
        border: 2px solid #000000;
        border-radius: 10px;
    }

    .texto {
        width: 50%;
        text-align: justify;
        font-size: 1em;
    }

    .carrossel {
        width: 30%; 
        text-align: center;
        margin-top: 20px;
        position: relative;
    }

    .carrossel img {
        width: 100%; 
        display: none;
    }

    .carrossel img.active {
        display: block;
    }

    .legenda {
        text-align: center;
        margin-top: 10px;
        font-size: 0.9em;
        color: #000000; 
    }

    .prev, .next {
        cursor: pointer;
        margin: 15px;
        padding: 10px 20px;
        background-color: #4169E1;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .prev:hover, .next:hover {
        background-color: #00FFFF;
    }

    /* Media Queries para Responsividade */
    @media (max-width: 768px) {
        .conteudo {
            flex-direction: column; /* Mudando para coluna em telas menores */
            align-items: center; /* Alinhando centralmente */
        }

        .imagem, .texto {
            width: 100%; /* Faz as divs ocuparem toda a largura */
            margin-bottom: 20px;
        }

        .carrossel {
            width: 100%; /* Faz o carrossel ocupar 100% da largura */
            margin-top: 20px;
        }

        .titulo {
            font-size: 1.5em; /* Ajuste no tamanho da fonte */
        }

        button.voltar {
            width: 100%; /* Faz o botão de voltar ocupar toda a largura */
        }
    }

    @media (max-width: 480px) {
        .titulo {
            font-size: 1.2em; /* Reduzindo o tamanho do título */
        }

        .conteudo {
            padding: 10px; /* Menos padding em telas muito pequenas */
        }

        .carrossel {
            width: 100%; /* Carrossel ocupa toda a tela */
            margin-top: 10px;
        }

        .carrossel img {
            width: 100%; /* Ajustando para que as imagens fiquem responsivas */
        }
    }

