
    div.botao-voltar {
        width: 100%;
        text-align: center;
    }

    button.voltar {
        padding: 10px 20px;
        background-color: #3050dc;
        margin-top: 10px;
        color: #ffffff; 
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        box-shadow: 0 4px 8px rgba(178, 14, 14, 0.2);
    }

    .voltar:hover {
        background-color: yellow;
    }

    .conteudo {
        display: flex;
        align-items: flex-start;
        width: 50%;
        height: 100%;
        margin: 60px 0; 
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(158, 0, 179, 0.5); 
        border: 1px solid #3c00ff; 
        box-shadow: 0 8px 16px purple;
        color: yellow; 
        position: relative; 
        flex-wrap: wrap;
        font-family: cursive;
    }

    .video-player {
        width: 30%; 
        height: auto;
        margin-right: 20px; 
        margin-top: 70px;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .texto {
        width: 55%; 
        text-align: justify;
    }

    .texto span {
        text-align: center;
        font-size: 40px;
    }

    /* Media Queries para Responsividade */
    @media (max-width: 768px) {
        .conteudo {
            flex-direction: column; /* Mudando para coluna em telas menores */
            align-items: center; /* Alinhando centralmente */
            width: 100%; /* Faz a largura da div ser 100% */
        }

        .video-player {
            width: 100%; /* Faz o vídeo ocupar toda a largura disponível */
            margin-right: 0; /* Remove o espaço à direita */
            margin-top: 20px; /* Ajuste no espaçamento superior */
        }

        .texto {
            width: 100%; /* Faz o texto ocupar toda a largura */
            margin-top: 20px; /* Ajuste no espaçamento superior */
        }

        .texto span {
            font-size: 30px; /* Ajuste no tamanho da fonte do título */
        }

        button.voltar {
            width: 100%; /* Faz o botão de voltar ocupar toda a largura */
        }
    }

    @media (max-width: 480px) {
        .texto span {
            font-size: 24px; /* Reduz o tamanho do título em telas pequenas */
        }

        .conteudo {
            padding: 10px; /* Menos padding em telas muito pequenas */
        }

        .video-player {
            margin-top: 10px; /* Ajuste no vídeo */
        }

        .texto {
            font-size: 0.9em; /* Ajuste no tamanho da fonte do texto */
        }
    }
